html {
  font-size: 18px;
  background-color: #fefefe;
  color: #212121;
}
body {
  font-family: "Jost", sans-serif;
}
header,main,footer {
  max-width: 700px;
  margin: auto;
}
footer {
  font-size: .8rem;
}
h1,h2,h3,h4 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  margin: .75em 0 .6em;
}
strong,b {
  font-weight: 600;
}
p {
  margin: .65em 0;
}
a[href] {
  color: #1751b9;
}
a[href]:active {
  color: #052d73;
}
a[href^="#"] {
  text-decoration: none;
  font-size: 70%;
  vertical-align: top;
  display: inline-block;
}
a[href^="#"]:hover {
  text-decoration: underline;
}
a[href^="#"]::before {
  content: attr(href);
}
#citations > article {
  margin-left: 1.5em;
}
#citations > article::before {
  content: attr(id) ".";
  position: absolute;
  transform: translateX(-1.5em);
}

.onesie {
  padding: 0 3em;
  box-sizing: border-box;
}
.side-by-side > article {
  width: calc(50% - 4px);
  box-sizing: border-box;
  display: inline-block;
  padding: 0 1em;
  vertical-align: top;
}
span.over {
  text-decoration: overline;
}