html {
  font-size: 18px;
  background-color: #fefefe;
  color: #212121;
}
body {
  font-family: "Jost", sans-serif;
  margin: 0.75em 0 2em;
}
header,main,footer {
  max-width: 700px;
  margin: auto;
}
footer {
  font-size: .8rem;
}
h1,h2,h3,h4 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  margin: .75em 0 .5em;
}
p.sub-title {
  font-size: 75%;
  margin: -.75em 0 0;
  color: #555;
}
strong,b {
  font-weight: 600;
}
p {
  margin: .65em 0;
}
a[href] {
  color: #1751b9;
}
a[href]:active {
  color: #052d73;
}
a[href^="#"] {
  text-decoration: none;
  font-size: 70%;
  vertical-align: top;
  display: inline-block;
}
a[href^="#"]:hover {
  text-decoration: underline;
}
a[href^="#"]::before {
  content: attr(href);
}
#footnotes > article,
#citations > article {
  margin-left: 1.5em;
}
#footnotes > article::before {
  content: attr(id) ".";
  position: absolute;
  font-size: 75%;
  transform: translateX(-1.95em);
}
#citations > article::before {
  content: attr(id) ".";
  position: absolute;
  transform: translateX(-1.5em);
}
blockquote.tweet {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1em;
  border-left: 5px solid #efefef;
}
blockquote.tweet cite,
blockquote.tweet cite time {
  display: block;
}
.onesie {
  padding: 0 3em;
  box-sizing: border-box;
}
.side-by-side > article {
  width: calc(50% - 4px);
  box-sizing: border-box;
  display: inline-block;
  padding: 0 1em;
  vertical-align: top;
}
#upload-preview {
  white-space: nowrap;
  overflow-x: hidden;
  background-color: #efefef;
  border: 1px solid #b0b0b0;
  padding: .1em .3em;
}
#upload-next > span {
  margin-right: .25em;
}
#upload-typing {
  position: absolute;
}
#upload-right {
  background-color: #b9f3bb;
}
#upload-wrong {
  background-color: #ffcecb;
}
#upload-input {
  font: inherit;
  white-space: nowrap;
  overflow-x: hidden;
  background-color: #fefefe;
  border: 1px solid #b0b0b0;
  padding: .1em .3em;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
#download-display {
  text-align: center;
  white-space: nowrap;
  overflow-x: hidden;
  background-color: #efefef;
  border: 1px solid #b0b0b0;
  padding: .1em .3em;
}
#download-range {
  width: 100%;
  box-sizing: border-box;
}

figure {
  margin: 2em 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 100%;
}
figure.no-connection {
  background-image: url(./mirage-no-connection.png);
  height: 10em;
}
figure.waiting {
  background-image: url(./mirage-waiting.png);
  height: 5em;
}
figure.message {
  margin: 0;
  background-image: url(./mirage-message.png);
  height: 12em;
}

#me {
  display: flex;
  flex-direction: row;
  margin: 2em auto;
  width: 60%;
  background-color: #f5f5f5;
  padding: 1.5em 2em;
  border-radius: 6px;
  box-sizing: border-box;
}
#selfie {
  width: 8em;
  height: 8em;
  border-radius: 100%;
  margin-right: 2em;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 16px;
  }
  body {
    margin: 0.75em 0.5em 2em;
  }
  .side-by-side > article {
    padding: 0;
  }
  .side-by-side > article:first-of-type {
    padding-right: 0.25em;
  }
  .side-by-side > article+article {
    padding-left: 0.25em;
  }
  .onesie {
    padding: 0 1em;
  }
  #footnotes > article,
  #citations > article {
    margin-left: 1em;
  }
  #footnotes > article::before {
    transform: translateX(-1.8em);
  }
  #citations > article::before {
    transform: translateX(-1em);
  }
  #me {
    width: 100%;
  }
}